{% extends "base.html" %}
{% block slider %}{% endblock %}
{% block menu %}
                
                    <li class="home-page"><a href="/utriga"><span></span></a></li>
                    <li class="current " ><a href="/utriga/about">About Us</a></li>
                    <li><a href="/utriga/services">Downloads</a></li>
                    <li><a href="/utriga/projects">Blog</a></li>
                    <li><a href="/utriga/post">Advertise</a></li>
                    <li><a href="/utriga/contact">Contact Us</a></li>
                
                {% endblock %}


