{% extends "base.html" %}
{% block slider %}{% endblock %}
{% block menu %}
             
                    <li class="home-page"><a href="/utriga"><span></span></a></li>
                    <li><a href="/utriga/about">About Us</a></li>
                    <li><a href="/utriga/services">Downloads</a></li>
                    <li><a href="/utriga/projects">Blog</a></li>
                    <li><a href="/utriga/post">Advertise</a></li>
                    <li class="current"><a href="/utriga/contact">Contact Us</a></li>
              
 {% endblock %}
 
 {% block content %}
 <div style="height:400px">
 <fieldset class=" LoginForm fluid-horizontal">
 Full Name: <input type="text"/>
 Telephone: <input type="text"/>
 E-mail: <input type="text"/>
 Message: <textarea></textarea>
  </fieldset>
  </div>
 {% endblock%}



