{% extends "base.html" %}
{% block slider %}{% endblock %}
{% block content %}

{% if signed_up %}
<fieldset class="loginField">
<h4>You have successfully signed up</h4>
<h4>Sign in <a href="/utriga/reg/login/"> here </a></h4>
</fieldset>
{% else %}
<fieldset class="loginField" style="width:230px">
<legend align="right" > Sign Up </legend>
<form action="." method="post" class="form-horizontal">
     {{ form.as_p }}
     <input type="submit" value="Login!" />
  </form>
</fieldset>
{% endif %}

{% endblock %}
