{% extends "base.html" %}
{% block slider %}{% endblock %}
{% block menu %}
                
                    <li class="home-page"><a href="/utriga"><span></span></a></li>
                    <li><a href="/utriga/about">About Us</a></li>
                    <li><a href="/utriga/services">Downloads</a></li>
                    <li><a href="/utriga/projects">Blog</a></li>
                    <li class="current " ><a href="/utriga/post">Advertise</a></li>
                    <li><a href="/utriga/contact">Contact Us</a></li>
               
{% endblock %}
{% block content %}
          
<form method='post' action="" class="form-horizontal  well" enctype="multipart/form-data" >
{{ form.as_p }}
<br>
<input class="btn btn-info" type='submit' name='Submit' value="Post Advert">
</form>
{% endblock %}


